<!DOCTYPE html>
<html xmlns xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Chating</title>
    <style>


	</style>
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
</head>

<script type="text/javascript">

</script>
<body>
<div id="container" class="container">
    <h1>채팅</h1>
    <div id="chating" class="chating">
    </div>

    <div id="messageContainer">
        <table class="inputTable">
            <tr>
                <th>메시지</th>
                <th><input id="chatting" placeholder="보내실 메시지를 입력하세요."></th>
                <th><button id="sendBtn">보내기</button></th>
            </tr>
        </table>
    </div>
</div>
<script src="/js/chat.js"></script>
<script>
    chat.init();
</script>
</body>
</html>